/* Estilos para dispositivos con pantalla pequeña (móviles) */
@media (max-width: 600px) {
  nav {
    font-size: 1em; /* Cambia el tamaño de fuente para Tablet */
}
  
    .footer {
      /* estilos del pie de página para móviles */
    }
  }

  /* Nav Tablet */
  @media (min-width: 601px) and (max-width: 1024px) {
    .container{
      max-width:700px ;
      margin: 0 auto;
    }
 
    nav {
      font-size: 1.2em; /* Cambia el tamaño de fuente para Tablet */
   }

    nav ul {
      display: flex;
      justify-content: space-between; /* Distribuye los elementos uniformemente */
      padding: 0; /* Quita el relleno */
    }
    
    nav ul li.logo {
      flex-direction: row;
      /*order: 2; /* Mueve el logo al final de la lista */
      margin-right: auto; /* Alinea el logo a la izquierda */
    }
    
    nav ul li {
      flex: 1; /* Hace que los elementos ocupen un espacio igual */
    }
    
    nav ul li:nth-child(5) {
      display: none; /* Oculta el quinto elemento (Acerca de) */
    }
  
    nav ul li a {
      display: block;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 16px; /* Tamaño de fuente */
    }
  }
  
  /* Footer Tablet */
  @media (min-width: 1024px) and (max-width: 1200px) {
    footer {
      width: 100%;
      padding: 20px 0;
    }
  
    .footer-content {
      flex-wrap: wrap;
    }
  
    .footer-column {
      flex-basis: calc(25% - 15px);
      margin-bottom: 20px;
    }

    .redes {
      margin-left: 2em; /* Ajusta este valor a lo que necesites */
    }

  /* Estilos para el formulario */
    .move-left {
      margin-left: 8px;
    }

  /*Estilos input de email*/
    .email-input {
      max-width: 170px;
      height: 61px;
      padding: 10px;
      margin-left: -0px;
      font-size: 16px;
      background-color: transparent;
      border: 1px solid #7C7C88;
      box-sizing: border-box;
    }
  
    .submit-button {
      max-width: 100px;
      height: 60px;
      background-color: #FFD015;
      border: none;
      border-radius: 3%;
      margin-top: 8px;
      cursor: pointer;
    }
  
  }
  
/* Footer Tablet 768px */
  @media only screen and (max-width: 768px) {
    footer {
      width: 100%;
      padding: 20px 0;
    }
  
    .footer-content {
      flex-wrap: wrap;
    }
  
    .footer-column {
      flex-basis: calc(25% - 15px);
      margin-bottom: 20px;
    }

  /* Estilos para el formulario */
    .move-left {
      margin-left: -30px;
    }
  /*Estilos input de email*/
    .email-input {
      width: 80%;
      max-width: 250px;
      height: 61px;
      padding: 10px;
      margin-left: -0px;
      font-size: 14px;
      background-color: transparent;
      border: 1px solid #7C7C88;
      box-sizing: border-box;
    }
  
    .submit-button {
      width: 25%;
      max-width: 100px;
      height: 60px;
      background-color: #FFD015;
      border: none;
      border-radius: 3%;
      margin-top: 8px;
      cursor: pointer;
    }
  }

  