@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    position: relative;
    min-height: 100%;
}
.container{
    max-width:1200px ;
    margin: 0 auto;
}

body{
    background-color: #18181B;
    overflow-x: hidden;
  }

a{
    text-decoration: none;
    color: #eaeafd;
    font-size: 1.4em;
    display: block;
    padding: 10px 20px;
}

ul, ol{
    list-style-type: none;
}

h1{
    font-size: 6.7em;
    color: #EAEAFD;
}

h2{
    font-size: 6.4em;
    color: #EAEAFD;
}

h3{
    font-size: 5.1em;
    color: #EAEAFD;
}

h4{
    font-size: 3.8em;
}

h5{
    font-size: 2.8em;
    color: #B7B7C7;
}

h6{
    font-size: 1.8em;
    color: #EAEAFD;
}

p {
    font-size: 1.4em;
    color: #B7B7C7;
}

/* Estilos para el nav-bar */
nav {
  background-color: #18181B; /* Color de fondo, barra de navegación */
  font-size: 1.4em; /* Tamaño-fuente predeterminado para Desktop */
}
 
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .menu-toggle {
    display: none;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
/* Logo */
  li.logo {
    margin: 0;
  }

  .bi-brightness-high {
    color: #FFD015; 
  }

  nav ul li.logo span {
    display: flex; /* Hace que el ícono y el texto se muestren en línea */
    align-items: center; /* Alinea verticalmente el ícono y el texto */
  }
  
  nav ul li.logo span i {
    margin-right: 5px; /* Ajusta el espacio entre el ícono y el texto */
  }
  
/* Color de los botones al pasar el ratón por encima */
  a:hover {
    background-color: #6366f1; 
    border-radius: 8px;
  }
  .test-tablet{
    display: none;
  }

/* Estilos del footer*/
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #18181B ;
    color: #B7B7C7;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex-basis: calc(25% - 20px);
    text-align: left !important;
    margin-left: -20px;
    margin-bottom: 20px;
  }
  
  .footer-column h6 {
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left !important;
  }
  
  .footer-column ul li {
    margin: 0; 
    padding: 0; 
    margin-bottom: 5px;
  }

  .footer-column ul li a {
    padding: 0;
    margin: 5;
}
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }

  .footer-column h6 + ul li:first-child {
    margin-top: 0;
}

/* Estilos para el formulario */
.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
}
.move-left {
  margin-left: -100px;
}

/* Estilos para el cuadro de input de email */
.moveCuadro-left{
  margin-left: -90px;
  margin-top: 8px;
}

.email-input {
  width: 208px;
  height: 37px;
  padding: 10px;
  font-size: 16px;
  background-color: transparent; 
  border: 1px solid #7C7C88; 
}

/* Estilos para el botón de envío */
.submit-button {
  width: 56px;
  height: 60px;
  background-color: #FFD015;
  border: none;
  border-radius: 3%;
  margin-top: 8px;
  margin-left: -2px; /* Ajusta el espacio entre el input y el botón */
  cursor: pointer;
}

.footer-column button:hover {
  background-color: #6366f1;
} 

